@header-padding: 50px;

.header {
  background-color: @navbar-inverse-bg;
  color:            #fff;
  margin-bottom:    30px;
  padding:          @header-padding 0 (2 * @header-padding);
  text-align:       center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  h1 {
    font-size: 28px;
  }

  h6 {
    margin:    0 auto;
    max-width: 540px;
  }
}
