<div class="footer">
  <div class="container">
    <hr>
    <img class="small-logo" src="http://res.cloudinary.com/tesseract/image/upload/c_scale,h_16/v1507448078/logo-tesseract-cubo-preto_fo7kqy.png"><br>
    <b><a href="https://grupotesseract.com.br" target="_blank">Grupo Tesseract</a></b> | Knowledge Base<br>
    <small>Criado com <a href="http://octobercms.com" target="_blank">October CMS</a> e <a href="https://octobercms.com/plugin/octoplus-wiki" target="_blank">Octoplus Wiki plugin</a></small><br>
  </div>
</div>

<script id="__bs_script__">
  document.write('<script async src="http://HOST:3000/browser-sync/browser-sync-client.js?v=2.24.4"><\/script>'.replace('HOST', location.hostname));
</script>
