<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=".">
      <img src="https://res.cloudinary.com/tesseract/image/upload/v1507448078/logo-tesseract-cubo-branco_apeo4d.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Grupo Tesseract
    </a>
    </div>
    <div class="collapse navbar-collapse navbar-main-collapse">
      <ul class="nav navbar-nav">

      </ul>
    </div>
  </div>
</nav>
