.navbar-brand {
  display:      inline-block;
  padding:      12px 20px;
  margin-right: 1rem;
  font-size:    20px;
  font-weight:  600;
  line-height:  inherit;
  white-space:  nowrap;

  > img {
    display:      initial;
    margin-top:   -4px;
    margin-right: 5px;
    margin-left:  10px;
  }
}

.navbar-inverse .navbar-brand {
  color: #fff;
}
