/**
 * Usando Google Fonts
 * =====================================================
 *
 * O PT Sans se mostrou uma ótima fonte, tanto no Windows
 * quanto no Linux, sem a necessidade de importar a fonte
 * bold, pois a normal já atendeu muito bem o negrito.
 */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    font-family: sans-serif;
  }
}
a,
a:link,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}
.callout {
  margin-bottom: 25px;
  padding: 20px;
  border-left: 3px solid #eeeeee;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout-danger {
  background-color: #fdf7f7;
  border-color: #ebccd1;
}
.callout-danger h4 {
  color: #a94442;
}
.callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.callout-warning h4 {
  color: #8a6d3b;
}
.callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.callout-info h4 {
  color: #31708f;
}
.callout-success {
  background-color: #f9fdf7;
  border-color: #d6e9c6;
}
.callout-success h4 {
  color: #3c763d;
}
.card {
  padding: 30px;
  padding-left: 70px;
}
.card .card__body {
  padding: 0;
}
.card__img {
  max-height: 150px;
  overflow: hidden;
}
.card__title {
  font-size: 20px;
  margin-top: 0;
}
.card__text {
  font-size: 13px;
  margin-bottom: 0;
}
.articles .card {
  border: 1px solid;
  border-color: #dedede;
  border-radius: 3px;
  margin-top: 30px;
  -webkit-transition: border-color ease 0.25s;
  transition: border-color ease 0.25s;
}
.articles .card,
.articles .card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.articles .card:hover {
  border-color: #ccc;
}
.articles .card::before {
  content: '';
  background-image: url(http://res.cloudinary.com/tesseract/image/upload/c_scale,h_30/v1507448078/logo-tesseract-cubo-preto_fo7kqy.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -30px;
  opacity: .25;
  position: absolute;
  left: 0;
  width: 70px;
  height: 100%;
}
.navbar {
  border: 0;
}
.navbar-brand {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  margin-right: 1rem;
  padding: 20px;
  white-space: nowrap;
}
.navbar-brand > img {
  display: initial;
  margin-top: -4px;
  margin-right: 13px;
  margin-left: 0;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}
body {
  padding-top: 70px;
}
@media (min-width: 768px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}
.header {
  background-color: #343a40;
  color: #fff;
  margin-bottom: 30px;
  padding: 50px 0;
  padding-bottom: 80px;
  text-align: center;
}
.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
  color: #fff;
}
.header h1 {
  font-size: 28px;
}
.header h5 {
  font-size: 26px;
  margin-top: 15px;
  text-transform: uppercase;
}
.header h6 {
  line-height: 1.4;
  margin: 0 auto;
  max-width: 540px;
}
.footer {
  text-align: center;
  font-size: 12px;
}
